<footer>
    <div class="footer-component">
        <div>
            <h3>Projeto criado para estudos</h3>
            <h4>github.com/KalebSouzaDev</h4>
        </div>
        <div> 
            <h3>Tecnologias Utilizadas</h3>
            <div class="tecnologies">
                <a href="https://angular.dev/" target="_blank">
                    <img src="angular-logo.png" alt="" width="30" height="30">
                </a>
                <a href="https://www.typescriptlang.org/docs/" target="_blank">
                    <img src="typescript-logo.png" alt="" width="30" height="30">
                </a>
                <a href="https://docs.oracle.com/en/java/" target="_blank">
                    <img id="java-logo" src="java-logo.png" alt="" width="70" height="70">
                </a>
            </div>
        </div>
    </div>
</footer>